.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: relative;
}

.navbar-logo {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.navbar h2 {
  color: #5f7d5d;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #5f7d5d;
  font-weight: 600;
}

.menu-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #5f7d5d;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 70px;
    right: 20px;

    background: white;
    padding: 1rem;
    border-radius: 12px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .nav-links.active {
    display: flex;
  }
}
